
<div  class="bodyAnneeScolaire">  
    
  
  <mat-card class="cardList">
  
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        
        <div class="col">
          <label for="inputEmail4">NOM</label>
          <input type="text" class="form-control" placeholder="First name" name="nom" ngModel>
        </div>
        
        <div class="col">
          <label for="inputEmail4">Prénom</label>
          <input type="text" class="form-control" placeholder="Last name" name="prenom" ngModel>
        </div>
    
        <div class="col">
          <label for="inputEmail4">Email</label>
          <input type="text" class="form-control" placeholder="Last name" name="email" ngModel>
        </div>

        <div class="col">
          <label for="inputEmail4">Numéro de téléphone</label>
          <input type="text" class="form-control" placeholder="Last name" name="numTel" ngModel>
        </div>

      </div>
        

      <div class="row">
        <div class="form-group col-md-12">
        <label for="inputEmail4">Classe</label>
        <select class="form-control" name="idClasse" ngModel>
          <option *ngFor="let c of listeClasse" value="{{c.idClasse}}">{{c.libelle}} - {{c.niveau.libelle}}</option>
        </select>  
        </div>
      </div> 

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1" checked  name="septembre" ngModel> 
          <label class="form-check-label" for="inlineCheckbox1">Septembre</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"  name="octobre" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Octobre</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="novembre" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Novembre</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="decembre" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Décembre</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="janvier" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Janvier</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="fevrier" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Février</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="mars" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Mars</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="avril" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Avril</label>
        </div>


        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="mai" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Mai</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="juin" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Juin</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="juillet" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Juillet</label>
        </div>
      

         <br /> 

         <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="fraixInscription" ngModel> 
          <label class="form-check-label" for="inlineCheckbox1">Fraix de scolarité</label>
        </div>
        
        <br><br><br><br><br><br><br><br>


        <button type="submit" class="btn btn-danger">Enregistrer</button>





     
    </form>

</mat-card>

</div>