<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  
  
  
  <div class="form-group">
    <label for="exampleInputEmail1">Libellé</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
     placeholder="Ex:2010-2011" required name="libelle" ngModel [(ngModel)]="matiere.libelle">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Libellé</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
     placeholder="Ex:2010-2011" required name="coeffitien" ngModel [(ngModel)]="matiere.coeffitien">
  </div>

  <br />

  


  <button type="submit" class="btn btn-success" [disabled]="f.invalid">Modifier</button>
</form>