
<div  class="bodyAnneeScolaire">  
    
  
  <mat-card class="cardList">
  
    
      
        
       
      <div class="row">
        <div class="form-group col-md-12">
        <label for="inputEmail4">Année scolaire</label>
        <select class="form-control"  [(ngModel)]="anneeScolaire" >
          <option *ngFor="let annee of listeAnneeScolaire" value="{{annee.anneeScolaire}}" >{{annee.anneeScolaire  }}</option>
        </select>  
        </div>
      </div> 

        <button type="button" class="btn btn-danger" (click)="chercher()">Chercher</button>

        
          <br>
     

          <form (ngSubmit)="onSubmit(f)" #f="ngForm">

        <label for="inputEmail4">Etudiant</label>
         <input class="form-control" type="text" placeholder="nom d'utilisateur" name="username" ngModel>

      <div class="row">
        <div class="form-group col-md-12">
        <label for="inputEmail4">Classe</label>
        <select class="form-control" name="idClasse" ngModel >
          <option *ngFor="let c of listeClasse" value="{{c.idClasse}}">{{c.libelle}} - {{c.niveau.libelle}}</option>
        </select>  
        </div>
      </div> 

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1"   name="septembre" ngModel> 
          <label class="form-check-label" for="inlineCheckbox1">Septembre</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"  name="octobre" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Octobre</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="novembre" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Novembre</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="decembre" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Décembre</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="janvier" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Janvier</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="fevrier" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Février</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="mars" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Mars</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="avril" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Avril</label>
        </div>


        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="mai" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Mai</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="juin" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Juin</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="juillet" ngModel>
          <label class="form-check-label" for="inlineCheckbox1">Juillet</label>
        </div>
      

         <br /> 

         <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="fraixInscription" ngModel> 
          <label class="form-check-label" for="inlineCheckbox1">Fraix de scolarité</label>
        </div>
        
        <br><br>


        <button type="submit" class="btn btn-primary">Enregistrer</button>

         </form>  



     
    

</mat-card>

</div>